@font-face {
    font-family: rock-slayer;
    src: url(fonts/RockSlayers-BW6Lw.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: rock-slayer;
}


.flex-container {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    height: 100vh;
}

.footer {
    /* flex: 1 1 0; */
    text-align: center;
    margin-top: auto;
    background-color: burlywood;
    padding: 12px;
}

p {
    font-size: 40px;
}

.wrapper {
    background-color:bisque;
    padding: 30px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 36px;

}

.h1-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
h1 {
    flex: 0 1 auto;
    font-size: 100px;
}

.rock-paper-sci {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border: 5px groove darkgoldenrod;
    border-radius: 20px;
}


.img-container {
    display: flex;
    flex: 0 1 auto;
    height: 350px;
}

.static {
    position: absolute;
    background-color: bisque;
    height: 350px;
}

.static:hover {
    opacity: 0;
}

.reset-button {
    flex: 0 0 auto;
    align-self: center;
    width: 100px;
    padding: 16px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 24px;
}

.health-sec {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.player-names {
    display: flex;
    justify-content: space-between;
}

.health-bar-sec {
    display: flex;
    justify-content: space-between;
}

.health-bar {
    display: flex;
    border: 3px solid black;
    width: 450px;
    height: 50px;
}


.gameover-wrapper-hidden {
    height: 0vh;
    opacity: 0;
    transition: opacity 1s linear;
}

.gameover-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s linear;
    align-items: center;
}

.gameover-lose,.gameover-win {
    height: 30vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.youdied-h1 .victory-1 {
    font-size: 200px;
}

.youdied-h1 {
    color: red;
}

.victory-h1 {
    color: goldenrod;
}

.health-bar div {
    flex: 0 0 auto;
    height: 50px;
}

.player-health-bar {
    justify-content: flex-start;
}

.comp-health-bar {
    justify-content: flex-end;
}

.output {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column-reverse;
    gap: 12px;
}

.detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: groove darkgoldenrod 3px;
    border-radius: 15px;
}

.round-result-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.round-num-p {
    font-size: 24px;
}

.result-img {
    display: flex;
    height: 150px;
    width: 150px;
    flex: 0 1 auto;
}