@font-face {
    font-family: rock-slayer;
    src: url(fonts/RockSlayers-BW6Lw.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: rock-slayer;
}

body {
    background-color: burlywood;
    padding: 0px 150px;
}

p {
    font-size: 40px;
}

.wrapper {
    background-color:bisque;
    padding-top: 30px;
}

.h1-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    flex: 0 1 auto;
    font-size: 100px;
}

.rock-paper-sci {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 100px;
}

.output {
    text-align: center;
}

.score-sec {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 24px;
}

.img-container {
    display: flex;
    flex: 0 0 auto;
    height: 350px;
}

.static {
    position: absolute;
    background-color: bisque;
    height: 350px;
}

.static:hover {
    opacity: 0;
}

.reset-button {
    flex: 0 0 auto;
    align-self: center;
    width: 100px;
    padding: 16px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 24px;
}